body {
    margin:auto;
    height: 100vh;
    width: 95vw;
    border-radius: 0px;
    background: linear-gradient(180deg, #FFA699 0%, #E9A97C 100%) no-repeat center;
    background-size: 1920px 1080px;
}
  
.profile {
    margin: auto;
    margin-top: 5vh;
    width: 50%;
}

.myPic {
    width: 30vmin;
    height: 30vmin;
    margin:auto;
    background:url("https://github.com/Ankeen-A/Portfolio/blob/main/images/profile%20pic.png?raw=true") no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 100%;
    overflow: hidden;
    border:10px;
}

.line {
    margin:auto;
    margin-top:10px;
    width: 80%;
    height: 0 ;
    border-top: 4px solid #595772;
    transform: rotate(-0.03deg);
}

.myName {
    margin: auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 6vmin;
    text-align: center;
    color: #232145;
    line-height: 0px;
}

.buttons{
    display: grid; /* creates a grid */
    margin: auto;
    margin-top:25px;
    width:63%;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.aboutBtn {
  background:url("https://github.com/Ankeen-A/Portfolio/blob/main/images/about%20button.png?raw=true") no-repeat;
}

.projectsBtn {
  background:url("https://github.com/Ankeen-A/Portfolio/blob/main/images/projects%20button.png?raw=true") no-repeat;
}

.resumeBtn {
  background:url("https://github.com/Ankeen-A/Portfolio/blob/main/images/resume%20selection.png?raw=true") no-repeat;
}

.aboutBtn, .projectsBtn, .resumeBtn {
    background-size: cover;
    margin:auto;
    width: 15vmin;
    height: 15vmin;
    border-radius: 100%;
    overflow: hidden;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}

.aboutTxt, .projectsTxt, .resumeTxt{
    margin:auto;
    margin-top:35%;
    width:80%
    transform: translate(-50%, -50%);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 4vmin;
    text-align: center;
    color: white;  
}

.aboutBtn:hover, .projectsBtn:hover, .resumeBtn:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 100%;
}

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform:     translateY(0);
        transform:         translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform:     translateY(-30px);
        transform:         translateY(-30px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform:     translateY(-15px);
        transform:         translateY(-15px)
    }
}

.sandMounts{
    position: relative;
    height:5vh;
    margin-left:8.5vw;
    margin-top:10px;
    width: 80%;
    margin-bottom: 0px;
    bottom: 0;
}

.footer {
    background: #5A4562;
    color: white;
    text-align: center;
    margin-top: 2vmin;
    left: 0;
    bottom: 0; 
    width: 100%;
    position: fixed;
    padding:1vmin;
}

.footgrid {
    display: grid; /* creates a grid */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    text-align: center;
    font-size: 2vmin;
}

.icon {
    height:2vmin;
    width:2vmin;
    top: 50%;
    -ms-transform: translateY(25%);
    transform: translateY(25%);
}

.pf {
    display:inline;
}